<h1>URF <del>Basic</del> Statistics</h1>
<p></p>
<div class="alert alert-warning">
	Statistics chown here are based on my own data collected from Riot Games API. This doesn't represent the 100% of played games (obviously).
</div>

<h2>Matches</h2>
<div class="row">
	<div class="col-md-6">
		<h4 class="textcenter">Short matches (minutes:seconds)</h4>
		<canvas class="chart chart-pie" data="shortMatchesData" labels="shortMatchesLabels" legend="true"></canvas>
	</div>
	<div class="col-md-6">
		<h4 class="textcenter">Long matches (minutes:seconds)</h4>
		<canvas class="chart chart-pie" data="longMatchesData" labels="longMatchesLabels" legend="true"></canvas>
	</div>
</div>


<h2>Champions</h2>
<div class="row">
	<div class="col-md-6">
		<h4 class="textcenter">Most played champions</h4>
		<canvas class="chart chart-pie" data="champsdata" labels="champslabels" legend="true"></canvas>
	</div>
	<div class="col-md-6">
		<h4 class="textcenter">Most played champions</h4>
		<canvas class="chart chart-pie" data="champsdata" labels="champslabels" legend="true"></canvas>
	</div>
</div>

